.emoji-list-item{text-align:center;margin-bottom:30px}.emoji-list-item .emoji-char-wrapper{display:flex;justify-content:center;align-items:center;height:97px;width:100%;background-color:#eee;border-radius:20px}.emoji-list-item .emoji-char-wrapper .emoji-char{font-size:30px}.search-box{margin:25px 0;text-align:center}.search-box input{padding:4px 8px}

